<div class="container-fluid">



  <h1>gu-calendar</h1>

  <div class="calendar">

    <div class="calendar-events col-2">

      <div class="calendar-events--header">
        <h1 class="calendar-events--title col-8">Events</h1>
        <i class="calendar-events--plus fas fa-plus-circle col-2"></i>
      </div>
      <hr>

      <div class="calendar-events--log">
        <p class="calendar-events--empty" *ngIf="!isEventFound()">No events found</p>


      </div>

    </div>

    <div class="calendar-picker col-8">

    </div>
  </div>

</div>